# Flutter/Dart build e tool
build/
.dart_tool/
.flutter/
.packages
.pub-cache/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
generated/
*.log

# IDEs
.idea/
.vscode/
*.iml

# Output app
*.apk
*.ipa

# File generati da plugin Flutter (Android/iOS/macOS/Windows)
**/GeneratedPluginRegistrant.java
**/GeneratedPluginRegistrant.swift
**/generated_plugins.cmake

# Android
android/.gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/gradle-wrapper.jar
android/captures/
android/.cxx/
android/build/
*.bin
*.lock
*.probe

# iOS
ios/build/
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace
ios/Runner.xcodeproj/project.xcworkspace
ios/Runner.xcodeproj/xcuserdata/
ios/Podfile.lock

# macOS
macos/build/
macos/Pods/
macos/.symlinks/
macos/Runner.xcworkspace
macos/Runner.xcodeproj/project.xcworkspace
macos/Runner.xcodeproj/xcuserdata/
macos/Podfile.lock

# Windows
windows/build/
windows/flutter/generated_plugins.cmake

# Altri file sensibili o temporanei
secrets.json