# Flutter files da ignorare

# Cartella di build
build/

# File generati dal tool Flutter
.flutter/
.packages
.dart_tool/
pubspec.lock

# File di cache
*.log

# File degli IDE (es. IntelliJ, Visual Studio Code)
.idea/
.vscode/
*.iml

# File generati dal plugin Flutter
*.apk
*.ipa

# Outros files da Flutter
generated/
